.app-container {
	min-height: 100vh;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

#home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 999;
	min-height: 100vh;
}

.nav-link {
	z-index: 100;
}
